/* Track Page */

.track-page{
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}


/*		Current Track	*/
.album-img {
	width: 25%;
	height: auto;
	margin: 8px;
}

.track img{
	width: 100%;
	border-radius: 50%;
}
.track h6{
	font-weight: 2;
}


