@font-face {
  font-family: Circular;
  src: url(../../resources/fonts/CircularStd-Bold.otf);
}

.form-group{
  font-family: Circular;
  padding: 0;
}

.textbox-align{
	margin: 92px 0 0 0;
}

#spotifyUsername, #email, #password {
  border-radius: 8px;
  border-style: none;
  font-size: 13px;
  letter-spacing: 0.2px;
}
