.entrance-body{
  font-family: Circular;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #ff6699;
  background: linear-gradient(to bottom left, #ff6699, #fee140);
}

.entrance-body h2{
  color: black;
  font-size: 40px;
  float: left;
  margin-inline-end: 0px;
}

.entrance-body p{
  font-size: 12px;
  color: black;
}

.btn-success{
  background-color: #57b660;
  border-radius: 20px;
}

.entrance-body button{
  width: 50%;
  margin-top: 5px;
  font-size: 10px;
}
