
/* sign up container */
.join-party-container{
  font-family: Circular;
  width: 100%;
  text-align: center;
  background-color: #ff6699;
  background: linear-gradient(to bottom left, #ff6699, #fee140);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.join-party-container .inner-wrap{
  width: 80%;
  margin: 40px auto;
  margin-top: 200px;
}

h1{
  font-family: Circular;
  line-height: 40px;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}

.inner-wrap p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.join-party-container button{
  width: 100%;
  border-radius: 100px;
  font-weight: 900;
  font-family: Circular;
  margin: 24px 0 0 0;
  background-color: #57b660;
  border-style: none;
}

.join-party-container button.btn.btn-success.btn-sx {
  font-family: Circular;
  font-weight: 900;
  font-size: calc(2px + 2vmin);
  letter-spacing: 0.6px;
  background-color: #57b660;
  margin-bottom: 10px;
  border-style: none;
}

.join-party-container button.sml {
  width: 60%;
  margin: 0;
}

.join-party-container input#partyId {
  border-radius: 10px;
}

.join-party-container #partyId {
  width: 100%;
}

.join-party-container h1 {
  color: black;
  font-weight: 700;
  text-align: left;
}

.join-party-container {
  color: black;
  font-weight: 700;
  font-size: calc(6px + 2vmin);
}
